body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*contenedor padre */
.App{
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 2px 6px #08a05ca4;
  padding:0 15px ;
  box-sizing: border-box;
}

/*  HEADER    */
header{
  width: 95%;
  min-height: 100px;
  max-width: 1530px; /*esto tiene que ser menor al max width de la App*/
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: fixed;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 5px 10px #08a05ca4;
}

a{
  color: #000;
  text-decoration: none;/*quita la linea que subraya al texto */
  text-transform: uppercase;/*mayusculas*/
}

a:hover{
  color: #08a05c;
}
li{
  list-style: none;/*para sacarle los puntitos*/
}

header ul{
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li{
  padding: 0 1rem;/*para que se separen */
}

header ul li a{
  font-weight: bold;/*cambia el tipo de letra xd*/
}

header .cart{
  position: relative;
  cursor: pointer;
}

header .cart box-icon{
  width: 45px;
  height: 45px;
}
header .cart span{
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2rem;
  height: 2rem;
  /*contador de productos*/
  
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: crimson ;
}

/*----------------------INICIO-----------------------*/
.inicio{
  width: 100%;
  margin: 0 auto;
  padding-top:9rem  ;
}

.inicio h1{
  font-size:2.5rem ;
  color: #08a05c;
}

.inicio img{
  width: 100%;
}




/*------------------------PRODUCTOS--------------------*/
.title{
  font-size: 2.4rem;
  padding: 10rem 0 0 0 ;
  color: #08a05c;
}

.Productos{
  padding: 5rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));/*distribucion de las columnas*/
  gap:3rem 2rem ;
  box-sizing: border-box;
}

.producto{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .4);
  border: 6px solid transparent;
  border-radius: 12px;
}

.producto:hover{
  border: 6px solid #08a05c55;
}

.producto_img img{
  width: 310px;
}

.producto_footer{
  padding: 1rem;
}

.producto_footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color: #1a202c;
  font-family: Arial, Helvetica, sans-serif;
}

.producto_footer p{
  font-weight: 700;
  color: rgba(0, 0, 0, .555);
  text-transform: uppercase;
  font-size: 18px;
}

.producto_footer .price{
  font-size: 2rem;
  color: #1a202c;
}

.producto .buttom{
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 3rem;
  padding: 0 1rem;
  margin:1rem ;
}

.buttom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 10px;
}

.buttom button{
  background-color: #3033d3;
  max-width: 250px;
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
}

.buttom div{
  background-color:#08a05c ;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}

.buttom div a{
  color: #fff;
  font-weight: 700;
}

.buttom div a:hover{
  color: #fff;/*para que no cambie luego del click*/
}













/*-----------------------MEDIA QUERY--------------------------*/
@media only screen and (max-width:600px){
  header ul{
    display: none;
  }
}